@import url('https://fonts.googleapis.com/css2?family=Codystar&display=swap');

:root {
  --bg-main: rgb(255, 250, 250);

  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;

  --fs-300: 0.6875rem;
  --fs-400: 0.8125rem;
  --fs-500: 1rem;
  --fs-550: 1.1rem;
  --fs-600: 1.2rem;
  --fs-700: 1.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: 'Dosis', sans-serif;
}

body {
  position: relative;
  display: grid;
  place-content: center;
  min-height: 100vh;
  background-image: url(../images/bg-pattern-top.svg),
    url(../images/top-background.svg);
  background-position: right bottom, left top 4rem;
  background-size: 50% auto;
  background-repeat: no-repeat, no-repeat;
  background-color: var(--bg-main);
  overflow-x: hidden;
}

/* HEADER */

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  background: #e3b6f6;
  z-index: 20;
}

.logo {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: var(--fw-500);
  font-size: var(--fs-500);
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 34px 24px;
}

.navbar-nav {
  position: static;
  opacity: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  background: none;
  box-shadow: none;
  padding: 0;
  pointer-events: all;
  list-style: none;
}

.navbar-nav::before {
  display: none;
}

.nav-item {
  position: relative;
  color: white;
  font-weight: var(--fw-500);
  font-size: var(--fs-500);
  line-height: 25px;
  letter-spacing: -0.13px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-item::after {
  content: '';
  position: absolute;
  bottom: -0.3rem;
  left: 50%;
  width: 0;
  height: 0.15rem;
  transform: translateX(-50%);
  background-color: white;
  transition: all 0.5s ease;
}

.nav-item:hover::after {
  width: 100%;
}

.nav-toggle-btn {
  display: none;
}

/* MAIN */

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6rem;

  padding: 5rem 2rem;
  width: min(100%, 75rem);
  margin-inline: auto;
  margin-top: 70px;
}

.challenge-box {
  border-radius: 0.5rem;
  border: 1px solid hsla(220, 3%, 82%, 0.492);
  box-shadow: 2rem 3rem 2rem -2rem hsla(221, 7%, 45%, 0.492);
  background-color: var(--bg-main);
}

.challenge-box img {
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgba(60, 205, 193, 0.6),
    rgba(200, 111, 235, 0.8)
  );
  border-radius: 0.5rem 0.5rem 0 0;
  list-style: none;
  z-index: 1;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.overlay:hover {
  opacity: 1;
}

.links li {
  display: inline-block;
}

.links li a {
  display: block;
  color: #fff;
  font-size: 1rem;
  font-weight: var(--fw-600);
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.5rem;
  padding: 0.3rem;
  border-bottom: 3px dotted transparent;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.links a:hover {
  border-bottom: 3px dotted #fff;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}

.links a:focus {
  border: 3px dotted #fff;
  border-radius: 10px;
}

.flow {
  padding: 2rem 3rem;
}

h1 {
  font-weight: var(--fw-600);
  font-size: var(--fs-700);
  margin-bottom: 1rem;
  background: linear-gradient(90deg, #c86feb 0, #3bccc0 60%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

span {
  font-size: var(--fs-600);
  font-weight: var(--fw-600);
  text-transform: uppercase;
  margin: 0.5rem 0.5rem 0 0;
}

.paragraph {
  font-size: var(--fs-550);
  line-height: 1.5;
  margin: 1.5rem 0;
}

.detail a {
  font-size: 1rem;
  font-weight: var(--fw-600);
  letter-spacing: 2px;
  line-height: 2;
  color: #c86feb;
  text-decoration: none;
  margin-right: 0.7rem;
  transition: all 0.3s ease-in-out;
}

.detail a:hover {
  color: #3bccc0;
  border-bottom: 0.2em dotted #3bccc0;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}

.scroll-to-top {
  position: relative;
}

.btn-position {
  position: fixed;
  bottom: 20px;
  left: 45%;
  z-index: 20;
}

.btn-style {
  background-color: rgba(200, 111, 235, 0.3);
  border: 1px solid #c86feb;
  border-radius: 5px;
  padding: 0.4rem 1rem;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  animation: movebtn 3s ease-in-out infinite;
  transition: all 0.5s ease-in-out;
}

@keyframes movebtn {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 30;
}

.media-container {
  position: relative;
  display: flex;
  width: 17rem;
  height: 4.5rem;
  border-radius: 0.75rem 0.75rem 0 0;
  background: #e3b6f6;
}

label {
  position: relative;
  display: grid;
  place-items: center;
  flex: 1 1 auto;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

label:hover {
  color: var(--bg-main);
  text-shadow: 6px 6px 10px rgba(51, 51, 51, 1);
}

.icon {
  color: var(--bg-main);
  font-size: 1.8rem;
  bottom: 1.5rem;
  transition: all 0.15s;
}

@media (max-width: 845px) {
  /* HEADER */

  .navbar {
    padding: 25px 34px;
  }

  .navbar-nav {
    background: white;
    position: absolute;
    top: calc(100% + 25px);
    left: 35px;
    right: 35px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    box-shadow: 0 10px 40px hsla(0, 0%, 0%, 0.1);
    transform-origin: top right;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
    padding: 39px 0;
  }

  .navbar-nav.active {
    opacity: 1;
    pointer-events: all;
  }

  .nav-item {
    color: gray;
  }

  .nav-item::after {
    background-color: gray;
  }

  .nav-toggle-btn {
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: transparent;
    border: none;
  }

  ion-icon {
    font-size: 35px;
    color: white;
  }

  #close-icon {
    display: none;
  }

  .nav-toggle-btn.active #close-icon {
    display: block;
    cursor: pointer;
  }

  .nav-toggle-btn.active #open-icon {
    display: none;
  }

  /* MAIN */

  main {
    grid-template-columns: 1fr;
  }

  .btn-position {
    left: 40%;
  }
}
